<div
	class="flex flex-col items-start p-0 relative bg-white shadow rounded-lg border-gray-300 w-full h-full relative">
	{# Leading content #}
	<div
		class="flex flex-col items-center p-8 gap-6 w-full h-4/5 flex-none order-0 self-stretch grow-0">
		{# Avatar #}
		<figure class="flex-none order-0 grow-0 flex flex-col justify-center items-center p-0 rounded-full overflow-hidden">
			{{ image }}
		</figure>
		{# Text #}
		<div
			class="flex-none order-1 grow-0 self-stretch flex flex-col justify-center items-center p-0 g-2 h-20">
			{# Title #}
			<div class="w-full h-5 not-italic font-medium text-sm leading-5 text-center text-gray-900 flex-none order-0 self-stretch grow-0">
				{{ 'Name Tiwari' }}
			</div>
			{# Detail and badge #}
			<div
				class="flex-none order-1 grow-0 self-stretch flex flex-col items-center p-0 g-2 h-14">
				{# Detail #}
				<div class="flex-none order-0 self-stretch grow-0 h-5 not-italic font-normal text-sm leading-5 text-center text-gray-500">
					{{ 'Position ofmehere' }}
				</div>
				{# Badge #}
				<div class="flex-none order-1 grow-0 flex flex-row justify-center items-center pt-1 pr-2 bg-green-100 h-6 rounded-2xl">
					<div class="flex-none order-0 grow-0 h-4 not-italic font-medium text-xs leading-4 text-center text-green-800">{{ 'Admin' }}</div>
				</div>
			</div>
		</div>
	</div>
	{# Divider #}
	<div class="h-0.5 flex-none order-1 grow-0 self-stretch bg-gray-200"></div>
	{# Actions #}
	<div
		class="flex-none order-2 self-stretch grow-0 flex flex-row items-center p-0 h-1/5">
		{# Email section #}
		<div class="w-1/2 flex-none order-0 grow-1 flex flex-row justify-center items-center pt-4 pr-0 pl-4 gap-3 rounded-b-lg">
			<div class="w-4 h-4 flex-none order-0 grow-0 bg-gray-400"></div>
			<div class="flex-none order-1 grow-0 font-medium text-sm leading-5 text-gray-700">
				{{ 'Email' }}
			</div>
		</div>
		{# Divider #}
		<span class="w-0.5 h-full flex-none order-1 self-stretch grow-0 bg-gray-200"></span>
		{# Call section #}
		<div class="w-1/2 flex-none order-2 grow-1 flex flex-row justify-center items-center pt-4 pr-0 pl-4 gap-3 rounded-b-lg">
			<div class="w-4 h-4 flex-none order-0 grow-0 bg-gray-400"></div>
			<div class="flex-none order-1 grow-0 font-normal text-sm leading-5 text-gray-700">
				{{ 'Call' }}
			</div>
		</div>
	</div>

</div>
